@font-face {
    font-family: 'Salmaal';
    src: url('../fonts/SalmaalfasansLight-d9MJx.otf');
}
ion-card-title{
    --color: black;
    font-family: 'Salmaal';
}

ion-card{
    --color: gray;
    font-family: 'Salmaal';
    --size: 50%;
}

.img{
    background-size: cover;
    object-fit: cover;
    object-position: middle;
    height: 150px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    transform: translateY(-80%);
}