@font-face {
    font-family: 'Salmaal';
    src: url('../fonts/SalmaalfasansLight-d9MJx.otf');
}
ion-card-title{
    --color: black;
    font-family: 'Salmaal';
}
.card-title{
    --color: black;
}
ion-card-subtitle{
    --color: gray;
    font-family: 'Salmaal';
}
ion-card{
    border-radius: 7%;
    background-color: #faf6f4;
}