.nav {
    background-color: #45A29E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: white;
    font-size: 12px;
}

/* NO SEARCHBAR STYLING */

.navbar-nosearch-img {
    display:flex;
}

.navbar-nosearch img {
    height: 50px;
}

.navbar-nosearch {
    display: flex;
    justify-content: center;
    align-items: center;
    height:70px;
}

/* In order to center the photo and align the login and sign up
to the right, we will use a trick by adjusting both sides of the
flex box in order to maintain the logo at the center.  Progably
not the cleanest approach but assures proper margins*/
.navbar-nosearch-invis {
    visibility:hidden;
    margin-right:auto;
    padding-left:40px;
}

.nosearch-login-invis {
    padding-right: 15px;
}

.navbar-nosearch-txt {
    margin-left:auto;
    padding-right:40px;
}

.nosearch-login {
    margin-right:15px;
}

/* Adjust our left and right text elements for smaller screen sizes */
@media screen and (max-width: 300px) {
    .navbar-nosearch-invis {
        visibility:hidden;
        margin-right:auto;
    }

    .navbar-nosearch-txt {
        margin-left:auto;
    }

    .nosearch-login {
        margin-right:5px;
    }

    .nosearch-login-invis {
        padding-right: 5px;
    }
}